.outerbody {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  background-color: #fdfdfd;
  border-radius: 5px;
  overflow: hidden;
}

.titlebar {
  width: 99%;
  height: 25px;
}

.divcontainer {
  display: flex;
}

.innerleft {
  width: 330px;
  height: 93%;
  margin: 20px 0 0 10px;
  flex: 1;
}

.innerright {
  width: 190px;
  height: 210px;
  border: 1px inset gray;
  margin-right: 10px;
  margin-top: 20px;
}

.btn-group-vertical > button {
  margin: 15px 0 10px 22px;
  width: 145px;
}

.listtitle {
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-left: 80px;
  margin-top: 10px;
}

.column-checkbox {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  font-size: 11px;
}

.subcolumns {
  border: 1px solid lightgray;
  height: 180px;
  width: 330px;
  overflow-y: auto;
}

.subdistict {
  border: 1px solid lightgray;
  height: 25px;
  width: 330px;
  overflow: hidden;
  margin-top: 5px;
}

.columnlist {
  margin-left: 10px;
}

.mat-checkbox {
  padding: 0;
  height: 20px;
  margin-top: 10px;
}

.qt-radio-button {
  display: flex;
  flex-direction: column;
}

.lblclass {
  font-weight: bold;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}
