<div class="outerbody">
  <div class="titlebar">
    <span class="listtitle">Available Columns for Primary Tbl: {{ data.columns[0].tablename }}</span>
    <hr/>
  </div>

  <div class="divcontainer">

    <div class="innerleft">
      <div class="subcolumns">
          <div *ngFor="let column of data.columns" class="columnlist">
            <mat-checkbox class="column-checkbox" [(ngModel)]="column.selected" (click)="columnSelected(column)">{{ column.tablename }}.{{ column.columnname }}</mat-checkbox>
          </div>
      </div>
      <div class="subdistict" >
        <span class="lblclass">Distinct Column: </span>
        <select id="distinctCol" [(ngModel)]="distinctCol" [disabled]="columnArr.length == 0" style="width:220px; margin-top: 2px;" (change)="recordDistinctCol()"  >
          <option value="">None</option>
          <option *ngFor="let selcol of columnArr" [value]="selcol">{{ selcol }}</option>
        </select>
      </div>
    </div>

    <div class="innerright">
      <div class="btn-group-vertical">
        <button id="btnResetColumns" class="standardRedBtn" (click)="resetAllColumns()" [disabled]="columnArr.length == 0">Reset</button>
        <button id="btnSaveColumns" class="standardBtn" (click)="saveSelectColumns()" [disabled]="columnArr.length == 0">Apply</button>
        <button id="btnCloseColumns" class="standardBtn" (click)="closeDialog()">Close</button>
      </div>
    </div>
  </div>
</div>
