label {
  font-weight: bold;
}

#serverGrp {
  margin-left: 10px;
}

.optionGrp {
  height:27px;
  width: 300px;
  font-size: 11px;
}

#btnNewTab {
  margin-left: 10px;
  margin-top: 17px;
}

#queryGrp {
  position: absolute;
  right: 10px;
}
