
.divQuery {
  height: 36vh;
  width: 100%;
  overflow-y: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.separator {
  border: 2px solid black;
  width: 100%;
  height: 1px;
  opacity: .2;
}

.divResults {
  height: 42vh;
  width: 99.5%;
  overflow-y: auto;
  margin-left: 5px;
  margin-right: 5px;
}

table {
  width: 99.5%;
}

.mat-cell {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 5px;
  border-right: 1px solid lightgray;
  min-width: 40px;
}

.mat-header-cell {
  text-align: center;
  overflow-wrap: normal;
  font-weight: bold;
  font-size: 12px;
  padding-left: 5px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DDD;
  border-right: 1px solid gray;
}

th.mat-sort-header-sorted {
  color: black;
}

.rowCounter {
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: black;
  float: right;
  margin-right: 10px;
}

.divCounter {
  height: 15px;
  background-color: #eeeeee;
  width: 100%;
  border-bottom: 1px solid black;
}

.divModButtons {
  height: 30px;
  width: 100%;
  background-color: #DDDDDD;
  border-bottom: 1px solid black;
}

.mat-header-row {
  height: 30px;
}

.mat-row {
  height: 25px;
  word-wrap: break-word;
}
