<div class="container">
    <button class="standardGreenBtn" style="width: 195px; height: 25px;" (click)="closeDialog()">Close</button>
    <span class="dialogTitle">Stored Object Viewer {{ subtitle }}</span>

    <div class="row" style="margin-top: 10px;">
      <div class="col-lg-3">
        <cdk-accordion class="qt-accordion">
          <cdk-accordion-item
            *ngFor="let item of storedArrs; let index = index;"
            #accordionItem="cdkAccordionItem"
            class="qt-accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div class="qt-accordion-item-header" (click)="accordionItem.toggle(); selectedTabIndex(index, accordionItem.expanded)">{{ item.title }}</div>
            <div
              class="qt-accordion-item-body"
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index"
              [attr.aria-labelledby]="'accordion-header-' + index">
              <div class="viewerlink" *ngFor="let so of storedArrs[index].data" [title]="so.Name" (click)="openSelectedItem(so.stype, so.Name)">{{ so.Name }}</div>
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
      </div>

      <div class="col-lg-9 right" style="overflow-y: hidden">
          <textarea class="textbox">{{ procViewText }}</textarea>
      </div>
    </div>
  </div>
