.outerbox {
    width: 650px;
    height: 530px;
    background-color: #fdfdfd;
    overflow: hidden;
}

.upperbox {
    border: 1px solid black;
    width: 650px;
    height: 175px;
    align-content: center;
}

.bottombox {
    width: 650px;
    height: 200px;
    margin-top: 10px;
}

.buttonbox {
    width: 650px;
    height: 50px;
    margin-top: 5px;
}

.sectiontitle {
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline;
}

.header {
    font-weight: bold;
    font-size: 13px;
    border: 1px solid black;
}

.content {
    border: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}

button {
    width: 140px;
}

.pushleft {
    margin-left: 20px;
}

.pushcenter {
    margin-left: 30px;
}

.section {
    border: 1px solid black;
    height: 240px;
}

.data {
    border: 1px solid grey;
}

.statementtext {
    font-size: 11px;
}

.errormsg {
    font-size: 12px;
    font-weight: bold;
    color: red;
    width: 650px;
    height: 20px;
    text-align: center;
    margin-top: 25px;
}

.grpSep {
  margin-left: 10px;
}

.sectionSep {
  width: 695px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.divSep {
  margin-top: 15px;
}
