.parent {
  overflow: hidden;
}

.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden;
  background: #aaa;
}

#title {
  width: 100%;
  height: 20px;
  text-align: center;
}

.pgtitle {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: .7fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: .5em;
  margin-top: 20px;
}

div.upper {
  height: 285px;
  border: 1px groove #ddd;
  overflow: hidden;
}

div.lower {
  height: 110px;
  border: 1px groove #ddd;
}

.subtitle {
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  text-decoration: underline;
}

.myformscontrols {
  width: 100%;
  height: 24px;
  font-size: 11px;
  margin-left: 2px;
}

label {
  font-weight: bold;
}

.divusertable {
  width: 100%;
  height: 230px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid black;
}

.loadingDiv {
  background-color: rgb(255,255,255,.5);
  text-align: center;

}

.usertable {
  width: 100%;
  font-size: 10px;
}

.mat-row {
  height: 24px !important;
}

.mat-header-row {
  height: 23px !important;
}

