.primTitle {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align:center;
  font-weight: bold;
  background-color:#169b59;
  color:white;
}

.primeKeyWindow {
  width: 300px;
  height: 380px;
  border: 1px solid black;
  margin: 0;
  overflow: hidden !important;
}
