<div *ngIf="!listLoaded">
  STAND BY LOADING MOBCOP PORTAL SESSION LIST
</div>

<div class="parent" *ngIf="listLoaded">

  <div id="title">
    <span class="pgtitle">MOBCOP Portal Active Session Manager</span>
  </div>

  <div class="container">
    <div class="upper">
      <span style="font-weight: bold; font-size: 12px;">Filter:</span>
      <input type="text" id="inpSearch" [(ngModel)]="txtSearch" class="inputField" (keyup)="evalSessionSearch()">
      <button class="standardRedBtn" style="margin-left: 5px;" (click)="resetSearch()" [disabled]="txtSearch.length < 1">Reset</button>
      <span style="margin-right:5px; margin-top: 4px; float:right; font-weight: bold; font-size:11px;">Currently Active Sessions: {{activeSessionArr.length}} User(s)</span>
    </div>
    <div class="divsessiontable">
      <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defColDefine"
        [rowData]="activeSessionArr"
        [rowSelection]="'multiple'"
        [animateRows]="true"
        [rowHeight]="gridRowHeight"
        [headerHeight]="gridHeaderHeight"
        (gridReady)="onGridReady($event)"
        (cellClicked)="onSelectionChange()"
      ></ag-grid-angular>
    </div>

    <div class="lower">
      <span class="subtitle">Navigation Buttons</span>
      <div>
        <button class="standardGreenBtn" style="width: 95%; margin-left: 15px; margin-bottom: 3px;" (click)="resetSelectedSession()" [disabled]="selectedUsers.length == 0">Reset Session</button>
        <button class="standardGreenBtn" style="width: 95%; margin-left: 15px" (click)="closeDialog()">Close</button>
      </div>
    </div>
  </div>
</div>
