<systems>
  <system type="local" path="http://localhost:64813/UserW/" active="true" network="nipr" />
  <system type="demo" path="https://mobdemo.mkgcs.com/querytool/api/UserW/" active="false" network="nipr" />
  <system type="dev" path="https://mobcop.dev.aoc.army.pentagon.mil/querytool/api/UserW/" active="false" network="nipr" />
  <system type="test" path="https://mobcop.preprod.aoc.army.pentagon.mil/querytool/api/UserW/" active="false" network="nipr" />
  <system type="prod" path="https://mobcop.aoc.army.pentagon.mil/querytool/api/UserW/" active="false" network="nipr" />
</systems>
