/* Left Buttons */
/*  headleyt:  20210129  Hiding View Button and moved excel button from right to left until View can be added back in */
/*#btnViewer, */#btnJoins, #btnPrimaryKey, #btnExcel, #btnColumns   {
  width: 49%;
  height: 20px;
  padding-top: 0;
  margin-left: -5px;
  margin-bottom: 2px;
}

/* Right Buttons */
#btnClipboard, /*#btnExcel,*/ #btnCSV, #btnOrder, #btnModifier {
  margin-left: 8px;
  width: 49%;
  height: 20px;
  padding-top: 0;
  margin-bottom: 2px;
}

.btnGroup {
  margin: 0 auto;
  width: 95%;
}

#divBtnGrp {
  margin-top: 3px;
  width: 350px;
}

