/* Left Buttons */
#btnJoins, #btnPrimaryKey, #btnExcel, #btnColumns   {
  width: 49%;
  height: 20px;
  padding-top: 0;
  margin-left: -5px;
  margin-bottom: 2px;
}

/* Right Buttons */
#btnClipboard, #btnCSV, #btnOrder, #btnModifier, #btnViewer {
  margin-left: 8px;
  width: 49%;
  height: 20px;
  padding-top: 0;
  margin-bottom: 2px;
}

.btnGroup {
  margin: 0 auto;
  width: 95%;
}

#divBtnGrp {
  margin-top: 3px;
  width: 350px;
}

